<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Hello, <%= @customer.username %> !</h1>

  <br>
    <h3>Thanks for shopping with Sushme ! </h3>
<br>
 <p>The payment for your order number <strong><%= @order.id %></strong> has been succesfully processed</p>
    <p>
        <a href="<%= @receipt%>">View your receipt!</a>
    
      Follow this link: <a href="<%= @url %>">Sushme</a>, to see whats new!
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>